.reviews {
  
}

.reviews .container {
  position: relative;
  padding: 30px 60px;
  min-height: 500px;
  z-index: 0;
}

.reviews .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(57, 181, 74, .7);
  z-index: -1;
}

.reviews__title {
  color: #fff;
}

.reviews-slider__item {
  color: #fff;
  text-align: center;
  font-size: 24px;
}